<div class="overlap">
	<div class="grid overlap__wrapper">
		<div class="overlap__item overlap__item--img col-start-5 col-end-9
			col-start-4-xs col-end-13-xs">
			<picture class="overlap__img--right">
				<source srcset="{{ data.overlap.rightImage.webpSrc }}"
				        type="image/webp" />
				<img src="{{ data.overlap.rightImage.fallbackSrc }}"
				     alt="{{ data.overlap.rightImage.altText }}"
				     class="parallax-slow" />
			</picture>
			<div class="overlap__line-container">
				<div class="overlap__line"></div>
			</div>
		</div>
		<div class="overlap__item overlap__item--img col-start-4 col-end-6
			col-start-1-xs col-end-6-xs">
			<div class="overlap__circle-container">
				<picture class="overlap__img--left">
					<source srcset="{{ data.overlap.leftImage.webpSrc }}"
					        type="image/webp" />
					<img src="{{ data.overlap.leftImage.fallbackSrc }}"
					     alt="{{ data.overlap.leftImage.altText }}"
					     class="parallax-medium"/>
				</picture>
				<img class="overlap__circle" src="{{ data.overlap.overlapCircleSrc }}" alt="" />
			</div>
		</div>
		<article class="overlap__item overlap__txt col-start-9 col-end-12
			col-start-1-xs col-end-12-xs">
			<h3 class="overlap__header">
				<div class="clip"><span class="headline-201 slide-in" data-delay="0s">{{ data.overlap.headline.top }}</span></div>
				<div class="clip"><span class="headline-202 clip__text-large slide-in" data-delay="0.1s">{{ data.overlap.headline.middle }}</span></div>
				<div class="clip"><span class="slide-in" data-delay="0.2s">{{ data.overlap.headline.bottom }}</span></div>
			</h3>
			<p class="copy--gray">
				{{ data.overlap.copy }}
			</p>
		</article>
	</div>
</div>
