<h3 class="headline-copy__headline">
	{% if data.headline.top %}
		<div class="clip">
			<span class="slide-in" data-delay="{{ data.headline.delayTop }}">
				{{ data.headline.top }}
			</span>
		</div>
	{% endif %}
	{% if data.headline.bottom %}
		<div class="clip">
			<span class="headline-201 slide-in" data-delay="{{ data.headline.delayBottom }}">
				{{ data.headline.bottom }}
			</span>
		</div>
	{% endif %}
	{% if data.headline.text %}
		{{ data.headline.text }}
	{% endif %}
</h3>
<p class="headline-copy__copy {{ data.copy.modifier }}">
	{{ data.copy.text }}
</p>
