<div class="job-teaser">
	<div class="grid job-teaser__wrapper">
		<div class="col-start-4 col-end-10 col-start-3-s col-end-11-s col-start-1-xs
			col-end-13-xs">
			<h3 class="job-teaser__header">
				{{ data.jobTeaser.headline.first }}
				<span class="job-teaser__sketch">
					{{ data.jobTeaser.headline.second }}
				</span>
				<span class="switch">
					<span class="headline-201 switch-item">
						{{ data.jobTeaser.headline.third }}
					</span>
					<span class="headline-201 switch-item">
						{{ data.jobTeaser.headline.fourth }}
					</span>
				</span>
				<br/>
				{{ data.jobTeaser.headline.fifth }}
				<span class="switch">
					<span class="headline-201 switch-item">
						{{ data.jobTeaser.headline.sixth }}
					</span>
					<span class="headline-201 switch-item">
						{{ data.jobTeaser.headline.seventh }}
					</span>
				</span>
			</h3>
			<p class="job-teaser__text copy--gray">
				{{ data.jobTeaser.copy }}
			</p>
			<a class="job-teaser__link" rel="external nofollow"
				href="{{ data.jobTeaser.button.href }}">
				<span class="text-scale">{{ data.jobTeaser.button.text }}</span>
			</a>
		</div>
	</div>
</div>
