<div class="locations grid">
	<ul aria-controls="locations" role="tablist" class="locations__list-wrapper">
		{% for location in locations %}
		<li role="tab"
		    aria-controls="{{location.id}}"
		    tabindex="0"
		    {% if location.initialActive %}
		    aria-selected="true"
		    {% else %}
		    aria-selected="false"
		    {% endif %}
		    class="tab-list">
			{{location.name}}
		</li>
		{% endfor %}
	</ul>
	{% for location in locations %}
		<div id="{{location.id}}"
		     role="tabpanel"
		     tabindex="0"
		     {% if location.initialActive %}
		     aria-expanded="true"
		     {% else %}
		     aria-expanded="false"
		     {% endif %}
		     class="locations__panel">
				<picture class="locations__content-picture is-small">
					<source media="(max-width: 599px)" srcset="./assets/images/mobile/{{location.imageSmall}}">
					<source media="(min-width: 600px)" srcset="./assets/images/tablet/{{location.imageSmall}}">
					<source media="(min-width: 1200px)" srcset="./assets/images/desktop/{{location.imageSmall}}">
					<img src="./assets/images/fallback/{{location.imageFallbackSmall}}"
					     alt="Small image of the {{location.name}} SinnerSchrader office">
				</picture>
				<picture class="locations__content-picture is-large image-delay">
					<source media="(max-width: 599px)" srcset="./assets/images/mobile/{{location.imageLarge}}">
					<source media="(min-width: 600px)" srcset="./assets/images/tablet/{{location.imageLarge}}">
					<source media="(min-width: 1200px)" srcset="./assets/images/desktop/{{location.imageLarge}}">
					<img src="./assets/images/fallback/{{location.imageFallbackLarge}}"
					     alt="Large image of the {{location.name}} SinnerSchrader office">
				</picture>
				<div class="locations__content-studio-wrapper">
					{% for studio in location.studios %}

					<div class="locations__studio">
						<span class="locations__studio-name">{{ studio.name }}</span>
						<address>
							{{ studio.street }}
							<br />
							{{ studio.postal }}
							<br />
							<a class="locations__studio-link copy--gray " href="tel:{{ studio.tel }}">{{ studio.tel }}</a>
							<br />
							<a class="locations__studio-link copy--gray " href="mailto:{{ studio.email }}">send mail</a>
						</address>
					</div>
					{% endfor %}
				</div>
			</div>
	{% endfor %}
</div>
