<section class="locations">
	{% include section-header, title: "Here we are", number: "06", type: "medium" %}

	<div class="grid locations__grid">
		<ol class="locations__navigation">

			{% for location in locations %} 
				{% if forloop.first %} 
					{% assign isSelected = "locations__navigation-button--selected" %} 
				{% else %}
					{% assign isSelected = "" %} 
				{% endif %}

			<li class="locations__navigation-item">
				<button class="{{ isSelected }} locations__navigation-button copy--gray" id="locations__navigation-button-{{ location.name }}">
					{{ location.name }}
				</button>
			</li>

			{% endfor %}

			<div class="locations__navigation-indicator" id="locations__navigation-indicator"></div>
		</ol>

		{% for location in locations %} 
			{% if forloop.first %} 
				{% assign isHidden = "" %} 
			{% else %} 
				{% assign isHidden = "locations__content--hidden" %} 
			{% endif %}

		<div class="locations__content {{ isHidden }} locations__image-wrapper-small
                locations__content-{{ location.name }}">

        {% if forloop.first %}
          {% assign desktopImgSmall = "assets/images/desktop/" | append: location.imageSmall %}
          {% assign tabletImgSmall = "assets/images/tablet/" | append: location.imageSmall %}
          {% assign desktopImgSmall = "assets/images/mobile/" | append: location.imageSmall %}
          {% assign fallbackImgSmall = "assets/images/fallback/" | append: location.imageFallbackSmall %}
        {% else %}
          {% assign desktopImgSmall = "" %}
          {% assign tabletImgSmall = "" %}
          {% assign desktopImgSmall = "" %}
          {% assign fallbackImgSmall = "" %}
        {% endif %}

        <picture>
					<source media="(max-width: 599px)" srcset="{{ mobileImgSmall }}" type="image/webp" />
					<source media="(min-width: 600px) and (max-width: 1199px)" srcset="{{ tabletImgSmall }}" type="image/webp" />
					<source media="(min-width: 1200px)" srcset="{{ desktopImgSmall }}" type="image/webp" />
					<img class="locations__image parallax-slow" src="{{ fallbackImgSmall }}" alt="Small Image of the {{ location.name }} SinnerSchrader Office" />
				</picture>
      </div>

      <div class="locations__content {{ isHidden }} locations__image-wrapper-large
                locations__content-{{ location.name }} image-delay">

        {% if forloop.first %}
          {% assign desktopImgLarge = "assets/images/desktop/" | append: location.imageLarge %}
          {% assign tabletImgLarge = "assets/images/tablet/" | append: location.imageLarge %}
          {% assign desktopImgLarge = "assets/images/mobile/" | append: location.imageLarge %}
          {% assign fallbackImgLarge = "assets/images/fallback/" | append: location.imageFallbackLarge %}
        {% else %}
          {% assign desktopImgLarge = "" %}
          {% assign tabletImgLarge = "" %}
          {% assign desktopImgLarge = "" %}
          {% assign fallbackImgLarge = "" %}
        {% endif %}

				<picture>
					<source media="(max-width: 599px)" srcset="{{ mobileImgLarge }}" type="image/webp" />
					<source media="(min-width: 600px) and (max-width: 1199px)" srcset="{{ tabletImgLarge }}" type="image/webp" />
					<source media="(min-width: 1200px)" srcset="{{ desktopImgLarge }}" type="image/webp" />
					<img class="locations__image parallax-slow" src="{{ fallbackImgLarge }}" alt="Large Image of the {{ location.name }} SinnerSchrader Office" />
				</picture>
      </div>

		<div
			class="locations__content {{ isHidden }} locations__studio-info
                locations__content-{{ location.name }}"
		>
			<div class="locations__studio-info-grid">
				{% for studio in location.studios %}

				<div class="locations__studio-info-container copy--gray">
					<span class="locations__studio-info-container--name">{{ studio.name }}</span>
					<address>
						{{ studio.street }}
						<br />
						{{ studio.postal }} 
						<br />
						<a class="copy--gray locations__studio-info-link" href="tel:{{ studio.tel }}">{{ studio.tel }}</a> 
						<br />
						<a class="copy--gray locations__studio-info-link" href="mailto:{{ studio.email }}">send mail</a>
					</address>
				</div>
				{% endfor %}
			</div>
		</div>

		{% endfor %}
	</div>
</section>
