<nav class="nav grid" aria-label="{{ data.navigation.ariaLabel }}">
    <div class="nav__logo col-2">
        <a class="nav__logo--sinnerschrader" href="/" >
            {{ data.navigation.logo.top }}
        </a>
        <p class="nav__logo--accenture">
            {{ data.navigation.logo.bottom.start }}
            <span class="nav__logo--accenture-bold">
                {{ data.navigation.logo.bottom.middle}}
            </span>
            {{ data.navigation.logo.bottom.end}}
        </p>
    </div>
    <div class="col-start-11 col-end-13 col-start-9-xs col-end-13-xs">
        <ul class="nav__list" role="navigation">
            {% for item in data.navigation.links %}
                <li class="nav__list__item" role="navigation__item"
                    aria-label="{{ item.ariaLabel }}">
                    <a class="nav__list__link"
                       rel="external nofollow"
                       href="{{item.href}}">
                        {{ item.linkText }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
