<div class="offering">
  <div class="offering--wrapper">
	  <div class="offering__heading-wrapper">
		  <h3 class="offering__heading-top">
			  {{ data.offerings.topHeadline.first}}
			  <span class="is-font-ogg">
				  {{ data.offerings.topHeadline.second}}
			  </span>
			  {{ data.offerings.topHeadline.third}}
			  <span class="is-font-ogg">
				  {{ data.offerings.topHeadline.fourth}}
			  </span>
		  </h3>
		  <h3 class="offering__heading-top is-mobile">
			  {{ data.offerings.topHeadline.first}}
			  <span class="is-font-ogg">
				  {{ data.offerings.topHeadline.second}}
			  </span>
			  {{ data.offerings.topHeadline.third}}
			  <span class="is-font-ogg">
				  {{ data.offerings.topHeadline.fourth}}
			  </span>
		  </h3>
		  <h3 class="offering__heading-bottom">
			  {{ data.offerings.bottomHeadline.first}}
			  <span class="is-font-ogg">
				  {{ data.offerings.bottomHeadline.second}}
			  </span>
			  {{ data.offerings.bottomHeadline.third}}
			  <span class="is-font-ogg">
				  {{ data.offerings.bottomHeadline.fourth}}
			  </span>
		  </h3>
		  <h3 class="offering__heading-bottom is-mobile">
			  {{ data.offerings.bottomHeadline.first}}
			  <span class="is-font-ogg">
				  {{ data.offerings.bottomHeadline.second}}
			  </span>
			  {{ data.offerings.bottomHeadline.third}}
			  <span class="is-font-ogg">
				  {{ data.offerings.bottomHeadline.fourth}}
			  </span>
		  </h3>
	  </div>

	  <div class="offering--info grid">
		  <div class="swiper-wrapper">
			  {% for offering in data.offerings.offeringList %}
			  <div class="swiper-slide offering__slide">
				  <h4 class="offering__title">{{ offering.title }}</h4>
				  <ul class="offering__list">
					  {% for item in offering.list %}
					    <li class="offering__item">{{ item.item }}</li>
					  {% endfor %}
				  </ul>
			  </div>
			  {% endfor %}
		  </div>
	  </div>
  </div>
</div>
